.app {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

input {
  width: 500px;
  height: 20px;
  padding: 10px;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid grey;
  border-radius: 4px;
}

.list-element {
  width: 500px;
  height: 20px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  background-color: whitesmoke;
}
.list-element__error {
  background: red;
}

.name {
  font-weight: bold;
  margin-right: 10px;
  color: #303030;
}

.username {
  color: grey ;
}

.error {
  font-weight: bold;
  color: white;
}
